{% extends "base.html" %}

{% block content %}
    <h2> {{ event.title }} </h2>
    <p> {{ event.description }}</p>
    <p> {{ event.start_time }}</p>
    <p> {{ event.end_time }}</p>

    Sponsors:
    <ul>
        {% for sponsor in event.sponsors.all %}
            <li> {{ sponsor.username }} </li>
            <p><img height="200" src="/media/{{ sponsor.userpic }} "></p>
        {% endfor %}
    </ul>
    Speakers:
    <ul>
        {% for member in event.participant_set.all %}
            {% if member.role == "SP" %}

                <li> {{ member.user.username }} </li>
                <p>
                    {% if member.user.userpic %}
                        <img src="/media/{{ member.user.userpic }}">
                    {% else %}
                        <img src="/static/imgs/anon_user.png">
                    {% endif %}
                </p>

            {% endif %}
        {% endfor %}
    </ul>
    Listeners:
    <ul>
        {% for participant in event.participant_set.all %}
            {% if participant.role == "LS" %}

                <li> {{ participant.user.username }} </li>
                <p>
                    {% if participant.user.userpic %}
                        <img src="/media/{{ participant.user.userpic }}">
                    {% else %}
                        <img src="/static/imgs/anon_user.png">
                    {% endif %}
                </p>

            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}