{% extends "base.html" %}

{% block content %}
    <h2>Posts</h2>
    <ul>
        {% for post in object_list %}
            <li> <a href="{% url "blog:post_id" post.id %}"> {{ post.title | upper }} </a> | {{ post.created_at }}</li>
            <p> {{ post.text | truncatechars:255 }}</p>
        {% endfor %}
    </ul>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}