{% extends "base.html" %}

{% block content %}
    <h2> Chats </h2>
    <ul>
        {% for chat in object_list %}
            <li> <a href="/chat/chat/{{ chat.id }}"> {{ chat.title | upper }} </a> </li>
            Participants:
            {% for user in chat.users.all %}
                {{ user.username }}
                {% endfor %}
        {% endfor %}
    </ul>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/chat?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/chat?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}